name: "composer.json normalizer"

on:
  pull_request:
    paths:
      - 'composer.json'

jobs:
  normalize:
    uses: yiisoft/actions/.github/workflows/composer-normalizer.yml@composer-normalizer
#    secrets:
#      token: ${{ secrets.YIISOFT_GITHUB_TOKEN }}
